body{
  background-color: #292929;
  color: black;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    background-color: white;
  }
}

:root {
  --dark001: #1a1b1c;
  --light001: #fafcfe;
  --gray001:#E0E0E0;
}

/* .widthFormat{
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  height: 100%;
} */

.board{
  color: white;
  margin: auto;
  height: 100%;
  text-align: center;
  padding-bottom: 10vh;
}

/* .miniGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
} */

.info__subtext {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--light001);
  /* line-height: 165%; */
  /* margin-bottom: 48px; */
}

.info__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--light001);
  background-color: var(--dark001);
  border-radius: 50px;
  border: 2px solid var(--light001);
  padding: 5px 5px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  margin-bottom: 20px;
  cursor: pointer;
}

label, input[type="text"] {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--dark001);
  margin-top: 30px;
  border-radius: 30px;
  width: 40px;
  text-align: center;
}

.info__link:hover, .info__link:focus {
  background-color: var(--light001);
  color: var(--dark001);
}

#boardContainer {
  -webkit-print-color-adjust: exact !important;

  background-color: rgb(92, 92, 92);
  height: 100%;
  width: 80%;
  margin: auto;

  display: grid;
  grid-template-columns: auto;
  gap: 1vh 1vh;
  padding: 1vh;
  
  position: relative;

}

h1{
  color: white;
  font-size: 7vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h3{
  width: 80%;
  color: white;
  margin: auto;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: black;
  border: solid;
  border-bottom: black;
  border-width: 1vh;
  border-color: rgb(92, 92, 92);
  padding: 1vh 0;
}

h3:hover {
  background-color:rgb(155, 155, 155);
}

#currentLetter{
  font-size: 9vh;
  font-weight: bolder;
  color: #292929;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

#current{
  font-size: 12vh;
  font-weight: bolder;
  color: #292929;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding-bottom: 4vh;
}

.boardLetter{
  padding: 1vh;
  color: red;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: white;
  min-width: 42px;
}

.boardNum{
  padding: 1vh;
  color: white;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: black;
  min-width: 42px;
}

p{
  opacity: 0;
  font-size: 2vh;
}